
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

h1, h2 {
    font-family: sans-serif;
}
/*headings and logo*/

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    color: #3a3a3a;
}
#logo :hover {
    transform: rotate(-45deg);
}
/*navications links*/
#menu {
    font-size: 130%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    direction: rtl;
}

#menu a{
    text-decoration:  none;
    color: inherit;
}
#menu .no-active:hover {
    border-bottom: 1px solid #3a3a3a;
}

#menu .active {
    font-weight: bold;
    font-size: 120%;
}

.bb {
    display:none;
}
/*Hero Image*/

#hero{
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#title {
    
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    top: 150px;
    position: absolute;
    margin: auto;
    text-align: center;
}
 

#title h1 {
    color:  #fff;
    font-size: 300%;
}

#title h2 {
    color:  rgb(201, 201, 201);
    font-size: 150%;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero.jpg') no-repeat center center;

    /*animates zoom effect on loading page*/
    animation-name: zoom;
    animation-duration: 9s;
    animation-fill-mode: forwards;
}
/*creates the level of zoom for hero image*/

@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}


#hero #title {
    margin:auto;
    text-align: center;
}


/*our-story*/

#our-story {
    height: auto;
    text-align: center;
    margin: -3% 5% 5% 5%;
}

#our-story h2 {
    padding: 2%;
    font-family: sans-serif;
    font-size: 200%;
}

#our-story p {
    font-size: 110%;
}

/*Meetup times*/

#class {
    background-image: url('../images/instruments.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#class div {
    color:#fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#class h2 {
    color:#fafafa;
}

#class a:hover {
    font-size: 120%;
}

/*Sing Up*/
#form{
    clear: left;
    background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0), rgb(255, 255, 255)), url("../images/signup-background.jpg");
    opacity: 90%;
    background-size: cover;
    background-position: center;
    height: 900px;
}

#signup-form {
    margin: 150px 10% 0 0;
    color:rgb(0, 0, 0);
    background-color:rgba(252, 188, 70, 0.788);
    border: #fafafa 1px solid;
    max-width:400px;
    position:absolute;
    left: 10%;
    padding: 30px;
    border-radius: 10%;
    font-weight: bold;
}

#signup-form h2 {
    color:black;
    margin-bottom:20px;
}

.text-input {
    background:transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 10px;
}

.text-input:hover {
    background-color: hsla(0, 5%, 89%, 0.521);
    border-color: black;
}

.lets-play {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(252, 188, 70, 75%);
    color: black;
    display: block;
    border-radius: 5%;
    border: black 1px solid;
}

.lets-play:hover {
    background-color:  hsla(0, 5%, 89%, 0.521);
    color:black;
    font-weight: bold;
}


/*footer*/

footer {
    background-color: #3a3a3a;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    color:#fff;
}

.social-networks i:hover {
    color:rgb(252, 188, 70);
}


/* gallery */

#pictures {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#pictures > img {
    width: 100%;
}


/*Media Queries*/

/*For large and medium screens size from 1200px wide and down */
@media screen and (max-width:1000px) {
    #class  div {
        width:100%;
        clear:both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}
/*For medium screens size from 950px wide and down */

@media screen and (max-width:950px){

    #class div{
        padding-top: 2.5%;
    }

    #pictures {
        column-count: 3;
    }
}

/*For small screens sizes 800px and down*/
 @media screen and (max-width: 750px) {

    #check:not(:checked) ~ nav {
        display: none;
    }
    #check:checked ~ nav {
        display: block;
    }
    .bb {
        display: block;
        color: #3a3a3a;
        font-size: 280%;
        float: right;
        margin: 3%;
        text-align: center;
    }

    #check, #close {
        display:none;
    }

    #menu {
        padding-top: 70px;
        font-size: 120%;
        letter-spacing: 2px;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }

    #menu, #logo {
        line-height: clear;
    }
    #menu li {
        text-align: center;
        width: 100%;
        border-bottom: 1px solid black ;
    }

    #class div{
        padding-top: 3.5%;
    }

    #pictures {
        column-count: 2;
    }
 }

