* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/*header*/

.logo  {
    float: left;
    max-width: 25%;
    max-height: 10%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration:  none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}